<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container mt-4"   >
    

<div id="fondo" class="card">
<article class="card-body mx-auto" style="max-width: 400px;">
    <h3 class="card-title mt-3 text-center">Editar Usuario</h3>
    <p class="text-center">Llene cuidadosamente todos los campos para modificar usuario</p>
    <form>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span id="fondoicono" class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
        <input name="" class="form-control" placeholder="Nombre completo" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span id="fondoicono" class="input-group-text"> <i class="fa fa-envelope"></i> </span>
         </div>
        <input name="" class="form-control" placeholder="Correo electrónico" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span id="fondoicono" class="input-group-text"> <i class="fa fa-id-card"></i> </span>
         </div>
        <input name="" class="form-control" placeholder="Documento de identidad" type="email">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span id="fondoicono" class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>
        <select class="custom-select" style="max-width: 120px;">
            <option selected="">+57</option>
            <option value="1">+1</option>
        </select>
        <input name="" class="form-control" placeholder="Número de celular" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span id="fondoicono" class="input-group-text"> <i class="fa fa-building "></i> </span>
        </div>
        <select class="form-control">
            <option selected=""> Seleccione el tipo de usuario</option>
            <option>Vendedor</option>
            <option>Operario</option>
            <option>Administrador</option>
            <option>Gerente comercial</option>
            <option>Ejecutivo</option>
            <option>Director</option>   
        </select>


    </div> <!-- form-group// -->                                      
    <div class="form-group">
        <button type="submit" class="btn btn-warning btn-block btn-colores"> Editar Usuario  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Por favor verifique la informacion antes de Guardar                                                
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->