.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

#fondo {
    background-color: white;
    border-color: white;
}

#fondoicono {
    background-color: #f4dfaf;
    border-color: #e3b04b;
}

.btn-colores {
    background-color: #e3b04b;
    border-color: #e3b04b;
    color: white;
}

//Tabla
.table-wrapper {
    border: 1px solid white;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background: white;
    padding: 2px;
}
table.table {
    table-layout: auto;
}
table.table tr th, table.table tr td {
    border-color: #e3b04b;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 0px;
    min-width: 24px;
}    
