<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container mt-4">


  <div id="fondo" class="card">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h3 class="card-title mt-3 text-center">Editar Rol</h3>
      <p class="text-center">Llene cuidadosamente todos los campos.</p>
      <form>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span id="fondoicono" class="input-group-text"> <i class="fa fa-id-card"></i> </span>
          </div>
          <input name="" class="form-control" placeholder="000" type="number" disabled>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span id="fondoicono" class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input name="" class="form-control" placeholder="Nombre del Rol" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span id="fondoicono" class="input-group-text"> <i class="fa fa-building "></i> </span>
          </div>
          <select class="form-control">
            <option selected="">Activo</option>
            <option>Inactivo</option>
          </select>
        </div> <!-- form-group// -->
        <div class="row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-warning btn-block btn-colores"> Editar Usuario </button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-danger btn-block "> Editar Usuario </button>
          </div>
        </div> <!-- form-group// -->
        <p class="text-center">Por favor verifique la informacion antes de Guardar
      </form>
    </article>
  </div> <!-- card.// -->
</div>
<!--container end.//-->
