
  .img3{   
    background-image: url('../components/grecia3.jpg');
    background-repeat: inherit;
    background-position: relative;
    position: relative;
    border: 10px solid #f4dfaf;
    padding: 10%;
    opacity:95%;     
    margin-left: 10%;    
    
  }