<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" href="https://use.fontawesome.com/45d79a32aa.css">


<div class="container mt-4"   >
    

<div id="fondo" class="card">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h3 class="card-title mt-3 text-center">Agregar Nuevo Producto</h3>
	<p class="text-center">Llene cuidadosamente todos los campos para adicionar un nuevo producto al sistema</p>
	<form>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span id="fondoicono" class="input-group-text"> <i class="fa fa-list"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Nombre del producto" type="text">
    </div> <!-- form-group// -->
	<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span id="fondoicono" class="input-group-text"> <i class="fa fa-key"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Identificador único" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span id="fondoicono" class="input-group-text"> <i class="fa fa-commenting"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Descripción breve" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span id="fondoicono" class="input-group-text"> <i class="fa fa-money"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Precio unitario" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span id="fondoicono" class="input-group-text"> <i class="fa fa-check-square"></i> </span>
		</div>
		<select class="form-control">
			<option selected="">Seleccione el estado del producto</option>
			<option>Disponible</option>
			<option>No disponible</option>
		</select>
	</div> <!-- form-group end.// -->                                
    <div class="form-group">
        <button type="submit" class="btn btn-warning btn-block btn-colores"> Agregar producto  </button>
    </div> <!-- form-group// -->  
	<p class="text-center"><a href="" style="color:red">Cancelar</a> </p>    
    <p class="text-center">¿El producto ya fue creado? <a href="">Buscar producto</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->
