.ListarRol {
    text-align: center;
  }
  .ListarRol-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .ListarRol-logo {
      animation: ListarRol-logo-spin infinite 20s linear;
    }
  }
  
  .ListarRol-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .ListarRol-link {
    color: #61dafb;
  }
  
  #Busqueda {
    background-color: rgb(255, 248, 202);
    background-image: url('buscar.png'); /* Add a search icon to input */
    background-position: 4px 2px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 4px 20px 5px 35px; /* Add some padding */
    border: 1px solid #fad26363; /* Add a grey border */
    margin-bottom: 0px; /* Add some space below the input */ 
  }
  
  @keyframes ListarRol-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }  